/bin
/build

/data

/.vscode/settings.json
/.vscode/browse.vc.db

**.pdb
**.obj
**.sqlite3
**.log
**.err
**.exe
**.dll
**.pass
**/path.conf
**.dmprar
**.out
cmake_config.cmake
cmake_target_switch.cmake

id_rsa
id_rsa.pub

git update-index --assume-unchanged ./.vscode/*
